@keyframes popup__description {
	0% {
		bottom : 115%;
	}
	50% {
		bottom : 120%;
	}
	100% {
		bottom : 115%;
	}
}

//
@keyframes risochka-1 {
	0% {
		bottom : 94%;
	}
	50% {
		bottom : 102%;
	}
	100% {
		bottom : 94%;
	}
}

//
@keyframes risochka-2 {
	0% {
		bottom : 75%;
	}
	50% {
		bottom : 86%;
	}
	100% {
		bottom : 75%;
	}
}

//
@keyframes arrow__here {
	0% {
		left : -5%;
	}
	50% {
		left : -10%;
	}
	100% {
		left : -5%;
	}
}

@keyframes speech__bubbles {
	0% {
		opacity : 0;
	}
	50% {
		0% {
			opacity : 0.5;
		}
	}
	100% {
		opacity : 1;
	}
}

//
