header {
	position         : fixed;
	width            : 100%;
	padding-top      : 10px;
	padding-bottom   : 10px;
	background-color : var(--header_color);
	overflow         : hidden;
	z-index          : 100;
	//
}

